.timeline {
    font: 12px Open Sans, sans-serif;
    background: #555;
}

.timeline circle,
.timeline line,
.timeline path,
.timeline rect, {
    shape-rendering: optimizeSpeed;
}

.timeline .timeline-axis path,
.timeline .timeline-axis line {
    fill: none;
    stroke: #111;
}

.timeline .timeline-axis.timeline-axis--y line {
    stroke: #222;
}

.timeline .timeline-contactRect {
    stroke-width: 0;
    fill: transparent;
}

.timeline .timeline-boundingRect {
    stroke: black;
    fill: none;
}

.timeline .timeline-backgroundRect {
    stroke: black;
    fill: #333;
}

.timeline .timeline-element rect {
    fill: #111;
    stroke: #555;
}

.timeline .timeline-element text {
    fill: #999;
    text-anchor: left;
}

.timelineMarker .timelineMarker-label {
    text-anchor: middle;
    fill: orange;
}

.timelineMarker .timelineMarker-line {
    stroke: orange;
}

.timelineMarker .timelineMarker-rect {
    stroke: orange;
    fill: orange;
    fill-opacity: 0.2;
}

.tableMarker .tableMarker-line {
    stroke: red;
}

.tableMarker .tableMarker-label {
    text-anchor: middle;
    fill: red;
}

.tableMarker.tableMarker--mouseTracker .tableMarker-line {
    stroke: #00d800;
}

.tableMarker.tableMarker--mouseTracker .tableMarker-rect {
    stroke: #00d800;
    fill: #00d800;
    fill-opacity: 0.2;
}

.tableMarker.tableMarker--mouseTracker .tableMarker-label {
    fill: #00d800;
}

.tableMarker.tableMarker--mouseTracker.tableMarker--horizontal .tableMarker-label {
    text-anchor: end;
    fill: #00d800;
}

.tableMarker.tableMarker--valueTracker.tableMarker--elementBound .tableMarker-line {
    stroke: red;
}
.tableMarker.tableMarker--valueTracker.tableMarker--elementBound .tableMarker-label {
    fill: red;
}

.tableMarker--scrollBar rect {
    fill-opacity: 0.4;
}
