#container svg {
    font: 12px Open Sans, sans-serif;
    background: #555;
}
#container .axis path,
#container .axis line {
    fill: none;
    shape-rendering: crispEdges;
}
#container .axis line {
    stroke: #111;
}
#container .y.axis line {
    stroke: #222;
}
#container rect.contactrect {
    stroke-width: 0;
    fill: transparent;
}
#container rect.boundingrect {
    stroke: black;
    fill: none;
}

#container rect.backgroundrect {
    stroke: black;
    fill: #333;
}

#container .timelineElement rect {
    fill: #111;
    stroke: #555;
}

#container .timelineElement text {
    stroke: #777;
}

#container .bookingLabel {
    text-anchor: left;
}

.debug-outlineGroups g {
    outline: 1px solid red;
}
.debug-outlineGroups g g {
    outline: 1px solid blue;
}
.debug-outlineGroups g g g  {
    outline: 1px solid green;
}
.debug-outlineGroups g g g g {
    outline: 1px solid yellow;
}

body {
    margin: 0;
    padding: 0;
    background: black;
}
